.Header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Header-logo div {
  display: inline-block;
  font-size: 3em;
  animation: Header-logo-spin infinite 20s linear;
}

.Header-title {
  font-size: 1.5em;
}

.Header-nav {
  padding: 0;
  margin: 0;
}

.Header-nav li {
  list-style-type: none;
  display: inline;
  margin-right: 16px;
}

.Header-nav li:last-child {
  margin-right: 0;
}

.Header-nav a {
  color: white;
  font-weight: bold;
}

.Header-nav a.is-active {
  text-decoration: none;
}

@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
